<html>
  <head>
    <meta charset="UTF-8">
    <title>Salve seus snippetfy de códigos</title>

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/dracula.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>    

    <script src="/main.js"></script>
  </head>
  
  <body>
    <div class="auth-wrapper">
      <form method="POST" action="" class="form-signin">
        <h1>Fazer cadastro</h1>

        <input name="name" type="text" placeholder="nome" >
        <input name="email" type="email" placeholder="email" >
        <input name="password" type="password" placeholder="senha" >

        <button type="submit">Salvar</button>
        <a href="/">Já tenho conta!</a>
      </form>      
    </div>
  </body>
</html>