{% extends 'layout/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <form method="POST" action="/register" class="form-signin">
      <h1>Fazer cadastro</h1>

      <input name="name" type="text" placeholder="nome" >
      <input name="email" type="email" placeholder="email" >
      <input name="password" type="password" placeholder="senha" >

      <button type="submit">Salvar</button>
      <a href="/">Já tenho conta!</a>
    </form>      
  </div>
{% endblock %}