{% extends 'layout/default.njk' %}

{% block body %}
  <div class="auth-wrapper">
    <form method="POST" action="/authenticate" class="form-signin">
      <h1>Fazer login</h1>

      <input name="email" type="email" placeholder="digite seu email" >
      <input name="password" type="password" placeholder="senha" >

      <button type="submit">Entrar</button>
      <a href="/signup">Cadastre-se</a>
    </form>      
  </div>
{% endblock %}